*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;



:root{

    font-size: 62.5%;

}



}
#page{
max-width: 1200px;
margin-inline: auto;
}




body{
    font-size: 1.6rem;
    background: oklch(26.9% 0 0);
    color: #fff;
}

header{
padding-block: 2rem;
text-align: center;
}

fieldset{
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
input{
    display: block;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    color: black;
}
margin-top: 0.6rem;
}

input:focus{

outline: 2px solid oklch(68.5% 0.169 237.323) ;
}
input::placeholder{
 color: oklch(27.9% 0.077 45.635);   
}
div{
    margin-bottom: 1rem;

input[type=file]{
    color: #fff;
}

input[type=checkbox],
input[type=radio]{
    display: inline-block;
outline: none;
}

fieldset:nth-of-type(2) > div {
margin-bottom: 2rem;
h2{

    margin-bottom: 1rem;
}
}
textarea{
    display: block;
    margin-top: 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    padding: 1rem;
    resize: none;
}
select{
    padding: 0.8rem;
    border-radius: 1rem;
    border: none;
    outline: none;
}
textarea:focus{
    outline: 2px solid oklch(68.5% 0.169 237.323) ;
}
button{
    margin-bottom: 2rem;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    background-color: blue;
    color: #FFF;
    font-weight: 700;
    font-size: 1.6rem;
}
button:hover{
    background: oklch(51.4% 0.222 16.935);
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
}
@media(max max-width: 768px){
    #page{
        padding-inline: 2rem;
    }
}